<?xml version="1.0"?>
<opencv_storage>
	<ScaleCnt>8</ScaleCnt>    <!-- 层级数量 -->
	<CamaraCnt>2</CamaraCnt> <!-- 像感器数量 -->
  <DirMapTable>"E:\\Workspace\\VS2010\\Aug\\mao_offlineimagestitch_oldversion_verify\\mao_offlineimagestitch_oldversion_verify\\MapTables\\"</DirMapTable>                        <!-- 映射表路径 -->
	<FileFormatMapTable>MapTable</FileFormatMapTable>                          <!-- 映射表文件名格式 -->
	<DirStitchParam>"E:\\Workspace\\VS2010\\Aug\\mao_offlineimagestitch_oldversion_verify\\mao_offlineimagestitch_oldversion_verify\\StitchParams\\"</DirStitchParam>              <!-- 拼接参数路径 -->
	<FileFormatStitchParam>"StitchParam_%d_%d"</FileFormatStitchParam>         <!-- 拼接参数文件名格式 -->
	<DirLocalImgIn>"E:\\Workspace\\VS2010\\Aug\\mao_offlineimagestitch_oldversion_verify\\mao_offlineimagestitch_oldversion_verify\\LocalImg\\%d\\"</DirLocalImgIn>                 <!-- 输入局部图像路径 -->
	<FileFormatLocalImgIn>"%d.jpg"</FileFormatLocalImgIn>                      <!-- 局部图像文件名格式 -->
	<DirGlobalImgOut>"E:\\Workspace\\VS2010\\Aug\\mao_offlineimagestitch_oldversion_verify\\mao_offlineimagestitch_oldversion_verify\\Result_data\\"</DirGlobalImgOut>                  <!-- 输出拼接完成图像路径 -->
	<FileFormatGlobalImgOut>"%d_%d_%d.jpg"</FileFormatGlobalImgOut>                  <!-- 输出拼接完成图像文件名格式 -->
</opencv_storage>